# Python
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Virtual environments
venv/
.venv/
env/

# IDEs and editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Logs
*.log

# Miscellaneous
.DS_Store
*.swp
*~

# Flask-specific
instance/